/* spirit logo */
#spirit-container {
    width: 25%; 
    margin-left: 20%; 
    margin-top: 6%; 
    position: absolute; 
}

#spirit-container p {
    font-size: 30px; 
}

.spirit-h1 {
    font-family: 'Dancing Script', cursive;
    color: hsl(300, 50%, 45%); 
    font-size: 100px; 
}

/* login container */
.login-container {
    border: 5px solid hsl(60, 100%, 80%); 
    border-radius: 5%; 
    width: 496px;
    height: 376px; 
    text-align: center; 
    position: absolute;
    top: 25%; 
    left: 55%; 
}

.login-container h3 {
    font-size: 30px;
}

input {
    width: 450px; 
    height: 50px;
    font-size: 23px;
}

#password {
    margin-top: 10px; 
}

#login-button {
    background-color: hsl(300, 50%, 45%);
    border: none; 
    font-size: 23px; 
    border-radius: 2px; 
    color: white; 
    width: 450px; 
    height: 50px; 
    margin-top: 10px; 
}

/* errors */
.length-error {
    font-size: 8px; 
    color: red; 
    font-family: 'Space Mono', monospace;
    line-height: 0;
}

.clear {
    display: none; 
}